.cs-product-expired{
	background-color:#F00000;
	color:white;
	font-weight:bolder;
	padding:3px;
}

.cs-product-expireddate{
	color:#F00000;
}

.cs-product-expiring{
	background-color:#F08000;
	color:white;
	font-weight:bolder;
	padding:3px;
}

.cs-product-expiringdate{
	color:#F08000;
}

.cs-product-running{
	background-color:#00A000;
	color:white;
	font-weight:bolder;
	padding:3px;
}

.cs-product-unused{
	background-color:#BDC4D9;
	color:#51608C;
	font-weight:bolder;
	padding:3px;
}

.cs-product-expiringdate{
	color:#00A000;
}

.cs-product-code{
	font-family:monospace;
}

.cs-product-key{
	display:table-cell;
	font-weight:bolder;
	width:150px;
	padding:3px;
}

.cs-product-value{
	display:table-cell;
	font-weight:normal;
	width:70%;
	padding:3px;
}

.cs-product-value.monospace{
	font-family:monospace;
}

.cs-product-bill{
	font-size:2.5em;
	line-height:2.2em;
}

.cs-product-date{
}

.cs-product-billitem{
	display:table-cell;
	font-size:1.5em;
	line-height:1.2em;
}

